@inherits WorkingMvc6.Views.View.BaseView

@using WorkingMvc6.Services;

@using Microsoft.AspNet.Mvc.Razor.Compilation;

@inject IRazorCompilationService CompilationSpy

@functions {

    public RazorCompilationServiceSpy GetCompilationSpy()
    {
        return (RazorCompilationServiceSpy)CompilationSpy;
    }
}

<section>
    <h3>Compilation Results</h3>

    @foreach (var result in GetCompilationSpy().CompilationLog)
    {
        <h4>@result.FileInfo.RelativePath</h4>
        <pre>@result.Result.CompiledContent</pre>

    }

</section>

<div>
    Authenticated: @IsAuthenticated()
</div>
<div>
    This type: @GetType().AssemblyQualifiedName
</div>
<div>
    Base type: @GetType().BaseType.AssemblyQualifiedName
</div>

