<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
   <footer>
       @RenderSection("footer", required:false)
       <vc:greeter></vc:greeter>
       <vc:login-logout></vc:login-logout>
       @*@if (User.Identity.IsAuthenticated)
       {
           foreach(var identity in User.Identities)
           {

               <h3>@identity.Name</h3>
               <ul>
                   @foreach(var claim in identity.Claims)
                   {
                       <li>@claim.Type - @claim.Value</li>
                   }
               </ul>
           }
       }
       else
       {
           <div>You are anonymous</div>
       }*@
   </footer>
</body>
</html>
