@addTagHelper *, Controllers
@model Controllers.Controllers.Model

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Testing ...</title>
</head>
<body>
<div>
    <h3>@Model.Name</h3>
    
    <form method="post">
        
        Name: <input asp-for="@Model.Name" />
        <pre>
            @Json.Serialize(Model.Nesties)
        </pre>
        <otc-hiddenjson value="@Model.Nesties" />
        
        <input type="submit" value="Save!" />
    </form>
    
    <pre>
        @Json.Serialize(this.ViewContext.ModelState)
    </pre>
</div>
</body>
</html>